<header>
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item showMenu">
            <a class="nav-link text-center" href="#">Home</a>
          </li>
          <li class="nav-item showMenu">
            <a class="nav-link text-center" href="#">Settings</a>
          </li>
          <li class="nav-item showMenu">
            <a class="nav-link text-center" href="#">Logout</a>
          </li>
          <li class="nav-item dropdown hideMenu">
            <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Hi Lara</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Settings</a>
              <a href="#" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="headerImage">
    <img src="../../assets/img/desert-background.jpg" alt="">
  </div>
</header>
