<div class="container">
  <div class="row">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#">Copyright Creative Worker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Privacy Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cookies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">KissButton 2017</a>
      </li>
    </ul>
  </div>
</div>
